.container
  composes center from "postcss!stylus!../shared/layout.styl"

.leftSection
  composes twoWideColumn from "postcss!stylus!../shared/layout.styl"
  padding-top 40px

.rightSection
  composes fourWideColumn from "postcss!stylus!../shared/layout.styl"
