@import "../../node_modules/axis/axis/index"
@import "../shared/variables.styl"

// Forms
.field
  field(left, 100%)
  &.success
    field-success()
  &.warning
    field-warning()
  &.error
    field-error()
.label
  label()
  font-size 14px
.input
  input(velvet, 100%)
  box-sizing border-box
  color velvet
// Tables
.table
  table(false, false, true)

.tableBordered
  table()
//Buttons
.button
  glossy-button(darkVelvet)
.smallButton
  button(darkVelvet)
