@import "../../node_modules/axis/axis/index"
@import "../shared/variables.styl"

normalize-css()
body
  font-family 'pier_sansregular', Georgia
  color velvet
td
  font-family 'monoidretina'
  font-size 13px
  font-weight bold
  color darkVelvet
  vertical-align middle !important
::-webkit-input-placeholder
  color velvet
:-moz-placeholder
  color velvet
::-moz-placeholder
  color velvet
:-ms-input-placeholder
  color velvet
::selection
  background lightVelvet
