.formField
  composes field from "postcss!stylus!../shared/common.styl"
.formInput
  composes input from "postcss!stylus!../shared/common.styl"
.formLable
  composes label from "postcss!stylus!../shared/common.styl"
.errorField
  composes field error from "postcss!stylus!../shared/common.styl"
.submitButton
  composes button from "postcss!stylus!../shared/common.styl"
  font-family 'pier_sansregular', Georgia
  width 100%
  margin-top 10px
