@import "../shared/variables.styl"
.dataTable
  composes table from "postcss!stylus!../shared/common.styl"
.centeredCell
  composes centered from "postcss!stylus!../shared/layout.styl"
.row
  color darkVelvet
