.container
  width 100%
  margin-bottom 40px
.filterField
  composes field from "postcss!stylus!../shared/common.styl"
.filterInput
  composes input from "postcss!stylus!../shared/common.styl"
.filterLable
  composes label from "postcss!stylus!../shared/common.styl"
