@import "../shared/variables.styl"
.header
  width 100%
  composes centered from "postcss!stylus!../shared/layout.styl"
  padding 15px 0
.usersIcon
  composes fa fa-users from "../shared/FontAwesome/css/font-awesome.css"
  font-size 4em
  color velvet
.text
  font-family 'pier_sansbold', Georgia
  font-size 30px
  margin 0
  color velvet
