.centeredCell
  composes centered from "postcss!stylus!../shared/layout.styl"
.editIcon
  composes fa fa-pencil-square-o from "../shared/FontAwesome/css/font-awesome.css"
.removeIcon
  composes fa fa-times from "../shared/FontAwesome/css/font-awesome.css"
.button
  composes smallButton from "postcss!stylus!../shared/common.styl"
